.wrapper {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    border: 1.5px solid black;
    width: 280px;
    border-radius: 5px;
    padding: 0 10px 10px;
}

.title {
    margin: 15px 0 0 0;
}

.field {
    width: 100%;
    margin:  0 auto;
    border: 1.5px solid gray;
    padding: 5px 0;
    &:focus,
    &:active,
    &:hover {
        border: 3px solid rgb(33, 107, 203);
    }
    
}

.btn {
    width: 90px;
    margin: 0 auto;
    margin-top: 10px;
}

.error {
    font-size: 9px;
    color: red;
}